aiogram~=3.13.1
aiogram_dialog~=2.2.0
loguru~=0.7.2
SQLAlchemy~=2.0.36
httpx~=0.27.2
beautifulsoup4~=4.12.3
fake_useragent~=1.5.1
aiosqlite~=0.20.0
pydantic~=2.9.2
fastapi~=0.115.2
fastapi[standard]
tenacity~=9.0.0
aiohttp~=3.10.10
Scrapy~=2.11.2
itemadapter~=0.9.0
RapidFuzz~=3.10.0