fastapi~=0.115.3
SQLAlchemy~=2.0.36
loguru~=0.7.2
pydantic~=2.9.2
aiohttp~=3.10.10
tenacity~=9.0.0
RapidFuzz~=3.10.1
icalendar~=6.0.1
dynaconf~=3.2.6
beautifulsoup4~=4.12.3
lxml~=5.3.0
asyncpg~=0.30.0
alembic~=1.14.0